@import url(./common.css);

/* reservation */
.reservation{
    width: 100%;
    position: relative;
}
.reservation > img{
    width: 100%;
}
.reservation > h2{
    font-size: 50px;
    color:rgb(255, 255, 255);
    position: absolute; left: 45% ; top: 50%;
}

/* style */
.style{text-align: center;}
.style > div{
    position: relative;
}
.style > div > h2{
    font-size: 60px; margin-top: 6%; margin-bottom: 0;
}
.style > div > b{
    display: block;
    font-size: 20px;
    margin-bottom: 3%;
    color: #BC4C4C;
}

